/com.poolborges.example.ejbcontainer/target/
/com.poolborges.example.grizzly-jersey/target/
/com.poolborges.example.jaxrs20/target/
/com.poolborges.example.dropwizard/target/
/com.poolborges.example.osgi/com.poolborges.example.osgi.calculador.texas/target/